* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: rgb(241, 224, 224);
    background-image: url('./imagenes/fondo.jpg');
    background-position: center; /* Centra la imagen de fondo */
  font-family: Lato, sans-serif;
}

h1 {
  color: #A569BD;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo de freeCodeCamp */

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 100px;
}

/* Listas de Tareas */

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #fae282;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

